.header {
  background: url('../../../assets/orion.jpeg') no-repeat center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 10vh;
  width: 100%;
}
.flex-container-header {
  display: flex;
  flex-direction: row-reverse;
}

.logout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-right: 20px;
  cursor: pointer;
}